/*styles go here*/

/* p { */

p{
  color: black;
  font-family: Helvetica, "Times New Roman",serif;

}

h1{
  color: pink;
  font-family: Helvetica, "Times New Roman",serif;

}

body {
  text-align: center;
  background-color: white;
}


#nav {
  padding: 2;
  list-style-type: none;
}

#nav li {
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display: block;
  color: white;
  background-color: pink;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, "Times New Roman",serif;
  padding: 4px;
}
#nav a:hover, #nav a:active {
  background-color: purple;

}

img {
  border: none;
}
