/*styles go here*/

/* p { */

p{
  color: purple;
  font-family: Georgia, "Times New Roman",serif;

}

h1{
  color: blue;
  font-family: Georgia, "Times New Roman",serif;

}

body {
  text-align: center;
  background-color: #ebe3ce;
}


#nav {
  padding: 2;
  list-style-type: none;
}

#nav li {
  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
  display: block;
  color: #fff;
  background-color: #98bf21;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  font-family: Helvetica, Arial, serif;
  padding: 4px;
