/*styles go here*/

/* p { */

p{
  color: purple;
  font-family: Helvetica, Arial, sans-serif;
}

h1{
  color: blue;
  font-family: Georgia, "Times New Roman",serif;

}

body {
  text-align: center;
  background-color: #ebe3ce;
}


ul{
  padding: 0;
  list-style-type: none;
}
